<div class="container-parametros">
    <nz-input-group nzAddOnBefore="Rango de Tiempo" nzSize="small">
        <nz-select (ngModelChange)="changeRango($event)" nzSize="small" [(ngModel)]="tiempo">
            <nz-option-group nzLabel="Especificar Fecha">
                <nz-option nzLabel="Inicial y Final" nzValue="11"></nz-option>
            </nz-option-group>
            <nz-option-group nzLabel="Rangos Hasta la Fecha">
                <nz-option nzLabel="Hoy" nzValue="1"></nz-option>
                <nz-option nzLabel="Ayer" nzValue="2"></nz-option>
                <nz-option nzLabel="Desde ayer" nzValue="3"></nz-option>
                <nz-option nzLabel="Semana hasta la fecha" nzValue="4"></nz-option>
                <nz-option nzLabel="Este mes hasta la fecha" nzValue="8"></nz-option>
                <nz-option nzLabel="Año hasta la fecha" nzValue="5"></nz-option>
            </nz-option-group>
            <nz-option-group nzLabel="Fechas Pasadas">
                <nz-option nzLabel="Ultima semana" nzValue="6"></nz-option>
                <nz-option nzLabel="Ultimas 2 semanas" nzValue="7"></nz-option>
                <nz-option nzLabel="Ultimo mes" nzValue="9"></nz-option>
                <nz-option nzLabel="Ultimo año" nzValue="10"></nz-option>
            </nz-option-group>
        </nz-select>
    </nz-input-group>
    <nz-input-group id="fecha" nzAddOnBefore="Fecha" nzSize="small" *ngIf="visibleFecha">
        <nz-range-picker nzSize="small" nzFormat="yyyy-MM-dd HH:mm" [(ngModel)]="fecha"></nz-range-picker>
    </nz-input-group>
    <div class="botones">
        <button nz-button nzType="primary" nzSize="small" (click)="mostrar()"
            style=" background-color: #027519; border-color: #027519; ">
            <i nz-icon nzType="search"></i>
            Mostrar
        </button>
        <button nz-button nzType="primary" nzSize="small" (click)="imprimir()"
            style=" background-color: #c41a1a; border-color: #c41a1a; ">
            <i nz-icon nzType="printer"></i>
            Imprimir
        </button>
    </div>
</div>
<br>
<div id="content" *ngIf="visible">
    <p style="font-family: 'Baloo Paaji 2', cursive; font-size: 40px; color: #8a8a8a;">Dashboard del {{fecha1}} al
        {{fecha2}}</p>
    <div class="container-valores">
        <div class="div-border">
            <p class="titulos-valores">Generación kWh</p>
            <p class="valor"> {{generacion  + totaPlantaE| number:'1.0':'en_US'}} kWh</p>
        </div>
        <div class="div-border">
            <p class="titulos-valores">Compra Enee</p>
            <p class="valor"> {{compraEnee + totalLinea385 | number:'1.0':'en_US'}} kWh</p>
        </div>
        <div class="div-border">
            <p class="titulos-valores">Venta a ENEE</p>
            <p class="valor">{{ventaEnee | number:'1.0':'en_US'}}</p>
        </div>
        <div class="div-border">
            <p class="titulos-valores">Consumo Total</p>
            <p class="valor"> {{consumo | number:'1.0':'en_US'}} kWh</p>
        </div>
        <div>
            <p class="titulos-valores">Pérdidas kWh</p>
            <p class="valor"> {{perdida | number:'1.0':'en_US'}} kWh</p>
        </div>
    </div>
    <hr style="background-color: #eaeaea; height: 5px; border: none;">
    <div class="container-graficos">
      <div class="div-border" style="width: 90%; margin: auto;">
         <h2 class="titulos-grafico">Generaciones</h2>
         <canvas baseChart [datasets]="ChartGenetData" [labels]="ChartGenetLabels" [options]="ChartGenetOptions"
             legend="true" chartType="polarArea">
         </canvas>
     </div>
    <div style="width: 90%; margin: auto;">
         <h2 class="titulos-grafico">Consumo</h2>
         <canvas baseChart [datasets]="ChartConsuData" [labels]="ChartConsuLabels" [options]="ChartConsuOptions"
             chartType="doughnut"></canvas>
     </div>
 </div>
    <br>
    <div nz-row>
        <div nz-col nzSpan="10">
            <nz-table #generacionTable nzBordered nzTitle="Detalle Generacion" [nzData]="dataGeneracion" nzSize="small"
                [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th>Medicion</th>
                        <th>Consumo (kWh)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of generacionTable.data">
                        <td>{{ data.descripcion }}</td>
                        <td nzAlign="right">{{ data.final - data.inicial | number:'1.0':'en_US'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total (kWh)</th>
                        <th nzAlign="right">{{generacion | number:'1.0':'en_US'}}</th>
                    </tr>
                </tfoot>
            </nz-table>
        </div>
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="12">
            <nz-table #consumoTable nzBordered nzTitle="Detalle Consumo" [nzData]="dataConsumo" nzSize="small"
                [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th>Centro de Costo</th>
                        <th>Consumo (kWh)</th>
                        <th>Porcentaje Generación (kWh)</th>
                        <th>Porcentaje Red Publica (kWh)</th>
                        <th>Porcentaje Linea 385(KWh)</th>
                        <th>Porcentaje Planta Emergencia (KWh)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of consumoTable.data">
                        <td>{{ data.nombre }}</td>
                        <td nzAlign="right">{{ data.valor | abs | number:'1.0':'en_US'}}</td>
                        <td nzAlign="right">{{ data.generacion | abs | number:'1.0':'en_US'}}</td>
                        <td nzAlign="right">{{ data.enee | abs | number:'1.0':'en_US'}}</td>
                        <td nzAlign="right">{{ data.Linea385 | abs | number:'1.0':'en_US'}}</td>
                        <td nzAlign="right">{{ data.PlantaE | abs | number:'1.0':'en_US'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total (kWh)</th>
                        <th nzAlign="right">{{ consumo | abs | number:'1.0':'en_US'}}</th>
                        <th nzAlign="right">{{ totalGeneracion | abs | number:'1.0':'en_US'}}</th>
                        <th nzAlign="right">{{ totalEnee| abs|  number:'1.0':'en_US'}}</th>
                        <th nzAlign="right">{{ totalLinea385 | abs|  number:'1.0':'en_US'}}</th>
                        <th nzAlign="right">{{ totaPlantaE| abs|  number:'1.0':'en_US'}}</th>
                    </tr>
                </tfoot>
            </nz-table>
        </div>
    </div>
</div>

<div *ngIf="!visible" style="display: flex; flex-direction: column; align-items: center;">
    <img style="width: 25%;" src="assets/logo.svg" alt="">
    <p style="font-family: 'Roboto', sans-serif; font-size: 40px; color: #8a8a8a;">Dashboard</p>
</div>

<ngx-spinner bdColor="rgba(187,218,255,0.8)" size="medium" color="#0061aa" type="triangle-skew-spin"
    [fullScreen]="true">
    <p style="color: white"> Preparando... </p>
</ngx-spinner>
